<h1>POST Request Recieved</h1>
<table>
  <tr>{{#each queryList}}
    <td>{{this.name}}: {{this.value}}
  </tr>
  {{/each}}
</table>
<table>
  <tr>{{#each postList}}
    <td>{{this.name}}: {{this.value}}
  </tr>
  {{/each}}
</table>
